<body class="fallingPages randomPage">
<nav>
  <a href="/menu">
    <h1>
      Randomized Level
    </h1>
  </a>
  <li class="navLink">
    <%= form_tag('/log_out', method: :delete, :id => "logOut") do %>
     <%= submit_tag "Sign-Out" %>
     <% end %>
  </li>
  <a href="javascript:history.go(0)">
    <li class="navLink">
      Replay
    </li>
  </a>
</nav>

<p class='instructions'>Press the corresponding keys to pop the LetterDrops!</p>

<% nums = (1..26).to_a %>

<% ('a'..'z').to_a.shuffle.each do |letter| %>

    <% num = nums.sample %>
    <% index = nums.index(num) %>
    <% nums.delete(index) %>
    <div class="div<%= letter.upcase %>" id="drop<%= num %>">

    <%= letter %>

    </div>

<% end %>
</body>
